<div class="row ">
    <div class="col-12 mb-3">            
        <p class="titulo-bienvenido">{{constants.TITULO_CATEGORIA.yoga }}</p>
    </div>
    <div class="col-12 " >
        <p class="texto-bienvenido texto-negrita-cursiva">{{constants.TEXTO_YOGA_CITA}}</p>
    </div>
    <div class="col-12">
        <p class="texto-bienvenido">{{constants.TEXTO_YOGA_TITULO}}</p>
    </div>

    <!-- Yoga elementos-->
    <div class="col-12 row pt-5 pb-5 mb-2 color-tarjeta-servicio-yoga-1" >
        <div class="col-8 text-center">
            <p class="titulo_yoga_servicio">{{constants.TITULO_YOGA_SERVICIO.elementos }}</p>
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_ELEMENTOS}}</p>
        </div>
        <div class="col-4 vertical-center">
            <img class="img-yoga-semanal" src="../../../assets/yoga-integral.jpg" alt="Photo meditation yoga con elementos">
        </div>    
    </div>

    <!-- Yoga embarazadas-->
    <div class="col-12 row mb-2 color-tarjeta-servicio-yoga-2">
        <div class="col-4 vertical-center">
            <img class="img-yoga-semanal" src="../../../assets/yoga-integral.jpg" alt="Photo meditation yoga embarazadas">
        </div>    
        <div class="col-8 text-center">
            <p class="titulo_yoga_servicio">{{constants.TITULO_YOGA_SERVICIO.embarazadas }}</p>
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_EMBARAZADAS}}</p>
        </div>
    </div>

    <!-- Yoga adultos-->
    <div class="col-12 row pt-5 pb-5 mb-2 color-tarjeta-servicio-yoga-1">
        <div class="col-8 text-center">
            <p class="titulo_yoga_servicio">{{constants.TITULO_YOGA_SERVICIO.post_nacimiento }}</p>
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_POST_NACIMIENTO}}</p>
        </div>
        <div class="col-4 vertical-center">
            <img class="img-yoga-semanal" src="../../../assets/yoga-integral.jpg" alt="Photo meditation yoga post nacimiento">
        </div>    
    </div>

    <!-- Yoga bebes-->
    <div class="col-12 row pt-5 pb-5 mb-2 color-tarjeta-servicio-yoga-2">
        <div class="col-8 text-center">
            <p class="titulo_yoga_servicio">{{constants.TITULO_YOGA_SERVICIO.bebes }}</p>
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_BEBES}}</p>
        </div>
        <div class="col-4 vertical-center">
            <img class="img-yoga-semanal" src="../../../assets/yoga-integral.jpg" alt="Photo meditation yoga">
        </div>    
    </div>

    <!-- Yoga adultos-->
    <div class="col-12 row pt-5 pb-5 mb-2 color-tarjeta-servicio-yoga-1">
        <div class="col-8 text-center">
            <p class="titulo_yoga_servicio">{{constants.TITULO_YOGA_SERVICIO.adultos }}</p>
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_MAYORES}}</p>
        </div>
        <div class="col-4 vertical-center">
            <img class="img-yoga-semanal" src="../../../assets/yoga-integral.jpg" alt="Photo meditation yoga">
        </div>    
    </div>

    <!-- Yoga particular-->
    <div class="col-12 row pt-5 pb-5 mb-2 color-tarjeta-servicio-yoga-2 ">
        <div class="col-8 text-center">
            <p class="titulo_yoga_servicio">{{constants.TITULO_YOGA_SERVICIO.particulares }}</p>
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_CLASES_PARTICULARES}}</p>
        </div>
        <div class="col-4 vertical-center">
            <img class="img-yoga-semanal" src="../../../assets/yoga-integral.jpg" alt="Photo meditation yoga">
        </div>    
    </div>

    <!-- Horarios-->
    <div class="col-12 pt-5 row">
        <div class="col-12">
            <p class="titulo-bienvenido">{{constants.TITULO_YOGA_SERVICIO.horarios }}</p>
        </div>
        <div class="col-12">
            <p class="texto-bienvenido" >{{constants.TEXTO_YOGA_HORARIO}} <button type="button" class="btn btn-contacto" (click)="irContacto()">Contacta con nosotros</button></p>
            
        </div>
        <div class="col-12 mt-5 mb-5">
            <img class="img-yoga-semanal" src="../../../assets/semanal.png" alt="Photo meditation yoga">
        </div>
    </div>

</div>
