<!-- Lineas colores -->
    <!-- Linea celeste -->
    <svg viewBox="0 40 500 80" 
        preserveAspectRatio="none"
        style="z-index: -2;">

        <path d="M0, 60 C150, 180 270,
            0 550, 120 L500, 00 L0, 0 Z"
            style="stroke: none;
            fill:rgba(44, 119, 132, 1);">
        </path>
    </svg>

    <!-- Linea azul -->
    <svg viewBox="0 40 500 80" 
        preserveAspectRatio="none"
        style="z-index:-1;">

        <path d="M0, 80 C300, 0 400,
            220 500, 60 L500, 00 L0, 0 Z"
            style="stroke: none;
            fill:rgba(143, 207, 193, 0.7);">
        </path>
    </svg>

    <!-- Linea camel -->
    <svg viewBox="0 0 500 80" 
        preserveAspectRatio="none"
        style="z-index:-3;">

        <path d="M0, 20 C150, 150 300,
            0 500, 40 L500, 00 L0, 0 Z"
            style="stroke: none;
            fill:rgba(234, 153, 58, 1);">
        </path>
    </svg>