// Azules
$body-color-aqua: #8FCFC1; // rgba(143, 207, 193, 0.5) #8fcfc180
$body-color-azul: #2C7784; // rgba(44, 119, 132, 0.5) #2c778480

// Marrones
$body-color-ambar: #f9f5df;
$body-color-beige: #E4DDB3;
$body-color-camel: #EA993A; // RGB rgba(234, 153, 58, 0.5)     #ea993a80
$body-color-terra: #A9461D;

// Hover
$body-color-aqua-hover: #9cedf054;
$body-color-azul-hover: #439abb;

// Neutros
$body-color-blanco: #FFFFFF;
$body-color-gris: #848688;
$body-color-verde: #25d366;


// RGB
$body-color_aqua_rgb: rgba(143, 207, 193, 0.5);
$body-color_azul_rgb: rgba(44, 119, 132, 0.5);
$body-color_camel_rgb: rgb(237 162 72 / 50%); //#ea993a80

// background-color: rgb(237 162 72 / 50%);
//     padding: 25px 0 25px 0;
// }


$border-radius: 20px;